<!-- BEGIN PAGE BAR -->
<div class="page-bar">

    <div class="pull-left">
        <h1 class="page-title">
            <i></i> Manage Suppliers
            <small>View Deleted Suppliers</small>
        </h1>
    </div>
    <div class="pull-right">
        <h4>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a routerLink="/main/dashboard/index">Home</a>
                </li>
                <li>
                    <span>Manage Suppliers</span>
                </li>
            </ul>
        </h4>
    </div>

</div>
<!-- END PAGE BAR -->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-3  pull-left">
                            <div class="search">
                                <span class="fa fa-search"></span>
                                <input type="text" class="form-control" name="keyword" (keyup.enter)="loadData()" [(ngModel)]="keyword" placeholder="Search here ...">


                            </div>

                        </div>


                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="pull-right">
                        <div class="btn-group ">
                            <a type="button" [routerLink]="['../']" id="sample_editable_1_new" class="btn sbold blue">
                    All Suppliers
                    <i class="fa fa-cubes"></i>
                  </a>
                        </div>
                        <div class="btn-group ">
                            <button type="button" class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                    <i class="fa fa-angle-down"></i>
                  </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-print"></i> Print </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
            <div class="portlet-body">

                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> Email </th>
                            <th> Website </th>
                            <th> Status </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" *ngFor="let supplier of suppliers">

                            <td>
                                <a [routerLink]="['../detail',supplier.ID]"> {{supplier.Name}}

                    </a>
                            </td>
                            <td>
                                <a linkRouter='/main'> {{supplier.Email}} </a>
                            </td>
                            <td class="center"> {{supplier.Website}} </td>
                            <td>
                                <span [ngClass]="setStatus()" *ngIf="showStatus(supplier.Status)"><b>{{_status}}</b></span>
                            </td>
                            <td>
                                <div class="btn-group" role="menu">


                                    <a (click)="restoreSupplier(supplier.ID)">
                                        <i class="fa fa-repeat btn red btn-outline" matTooltip="Restore" matTooltipPosition='above'></i>
                                    </a>


                                </div>
                            </td>
                        </tr>




                    </tbody>

                </table>
                <div class="row">
                    <div class="col-md-12">
                        <pagination [boundaryLinks]="true" [totalItems]="totalRows" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                    </div>

                </div>


            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>