<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a [routerLink]="['./']">
                <h2 class="logo-default"><b>sProcurement</b></h2>
            </a>

        </div>
        <!-- END LOGO -->

        <!-- BEGIN PAGE TOP -->
        <app-top-menu></app-top-menu>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <app-sidebar-menu></app-sidebar-menu>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" style="min-height: 945px;">
            <!-- BEGIN PAGE HEADER-->

            <router-outlet></router-outlet>
            <div class="clearfix"></div>
            <!-- END DASHBOARD STATS 1-->


        </div>
    </div>


    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>

</div>

<!-- END CONTENT -->
<div class="quick-nav-overlay"></div>