<!-- BEGIN PAGE BAR -->
<div class="page-bar">

    <div class="pull-left">
        <h1 class="page-title">
            <i></i> Manage Suppliers
            <small>Edit Supplier</small>
        </h1>
    </div>
    <div class="pull-right">
        <h4>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a routerLink="/main/dashboard/index">Home</a>
                </li>
                <li>
                    <a [routerLink]="['../']">Manage Suppliers</a>
                </li>
                <li>
                    <span>Edit Supplier</span>
                </li>
            </ul>
        </h4>
    </div>
</div>

<!-- END PAGE BAR -->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <!-- <i class=" fa fa-user-plus font-red"></i>
                    <span class="caption-subject font-red sbold uppercase">Edit Supplier: -->
                    <span class="font-purple-intense"> {{supplier.Name}} </span>
                    <!-- </span> -->
                </div>
            </div>

            <!-- BEGIN FORM-->

            <div class="portlet-body form">
                <form id="form_sample_1" action="#" method="POST" #editSupplierForm="ngForm" (ngSubmit)="saveChange(editSupplierForm)" *ngIf="supplier" novalidate>
                    <div class="form-wizard">
                        <div class="form-body">

                            <div class="tab-content">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                                <div class="tab-pane active" id="tab1">
                                    <div class="col-md-4">
                                        <input type="hidden" [(ngModel)]="supplier.ID" name="id" />
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" #supplierName="ngModel" [(ngModel)]="supplier.Name" required minlength="3" name="suppliername">
                                            <div class="form-control-focus"> </div>
                                            <label for="form_control_1" class="control-label">Supplier Name
                                                                        <span class="required">*</span>
                                                                    </label>
                                            <span class="help-block">Please input Supplier Name...</span>
                                        </div>

                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" #supplierCode="ngModel" [(ngModel)]="supplier.Code" required minlength="3" name="suppliercode">
                                            <span class="help-block">Please input Supplier Code...</span>
                                            <label for="form_control_1">Supplier Code
                                                            <span class="required">*</span>
                                                        </label>

                                        </div>

                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" #supplierRepresentative="ngModel" [(ngModel)]="supplier.Representative" required minlength="3" name="supplierrepresentative">
                                            <span class="help-block">Please input Supplier Representative...</span>
                                            <label for="form_control_1">Supplier Representative
                                                            <span class="required">*</span>
                                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="tel" class="form-control" #supplierPhoneNumber="ngModel" [(ngModel)]="supplier.PhoneNumber" required minlength="3" name="supplierphonenumber">
                                            <span class="help-block">Please input Supplier Phone Number...</span>
                                            <label for="form_control_1">Supplier Phone Number
                                                            <span class="required">*</span>
                                                        </label>
                                        </div>

                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="email" class="form-control" #supplierEmail="ngModel" [(ngModel)]="supplier.Email" required minlength="3" name="supplieremail">
                                            <span class="help-block">Please input Supplier Email...</span>
                                            <label for="form_control_1">Supplier Email
                                                            <span class="required">*</span>
                                                        </label>
                                        </div>

                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" class="form-control" #supplierAddress="ngModel" [(ngModel)]="supplier.Address" required minlength="3" name="supplieraddress">
                                            <span class="help-block">Please input Supplier Address...</span>
                                            <label for="form_control_1">Supplier Address
                                                            <span class="required">*</span>
                                                        </label>
                                        </div>

                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="url" class="form-control" #supplierWebsite="ngModel" [(ngModel)]="supplier.Website" required minlength="3" name="supplierwebsite">
                                            <span class="help-block">Please input Supplier Website...</span>
                                            <label for="form_control_1">Supplier Website
                                                            <span class="required">*</span>
                                                        </label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label>Upload Logo</label>
                                        <div class="form-group-lg">

                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                    <img [src]="supplier.Logo" alt="" /> </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                <div>
                                                    <span class="btn default btn-file">
                                                                  <span class="fileinput-new"> Select logo </span>
                                                    <span class="fileinput-exists"> Change </span>
                                                    <input type="file" #logoSupplier name="logoSupplier"> </span>
                                                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                    <p class="help-block label label-danger"> *png, *jpg, *jpeg</p>
                                                    <input type="hidden" [(ngModel)]="supplier.Logo" name="logoUrl">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="javascript:;" class="btn default button-previous">
                                        <i class="fa fa-angle-left"></i> Back </a>

                                    <button type="submit" class="btn green" [disabled]="!editSupplierForm.form.valid">Update Supplier</button>
                                    <a type="button" [routerLink]="['../']" class="btn grey">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>